<!doctype html> {% load staticfiles %}


<html>

<head>
    <meta charset="utf-8">
    <title>food</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700' rel='stylesheet' type='text/css' />
    <!--<link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">-->

    <!--Bootstap 4.0-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--MOBILE DEVICE-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!--JS-->

    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!--HightChart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>

<body>
    <!-- Paste this code after body tag -->
    <div class="se-pre-con"></div>
    <!-- Ends -->

    <header>
        <div class="container">
            <div class="row clearfix" id="home">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-1 2">
                    <div class="logo">
                        <h1>
                            <a href="#"><img src="{% static 'assets/images/TMPS000136.png' %}" alt="" /></a>
                        </h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact">
                        <p>Questions? Call us Toll-free!<span class="number"><a href="#">1800-0000-7777</a></span><span class="time">(11AM to 11PM)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="saction1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="menu">
                        <div class="mobile-nav-container"> </div>
                        <div class="mobile-nav-btn"><img class="nav-open" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-open.png" alt="Nav Button Open" /> <img class="nav-close" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6214/nav-close.png" alt="Nav Button Close"
                            /> </div>
                        <nav>
                            <ul>
                                <li><a href="{% url 'pages:index' %}">Home</a></li>
                                <li><a href="#resturant">Popular Restaurants </a></li>
                                <li><a href="#offer">Order </a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="login">
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="#">Chào {{user.username}}</a></li>
                            <li><a href="{% url 'pages:logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'pages:login' %}">Login</a></li>
                            {% endif %}
                            <li><a href="{% url 'pages:register' %}">Register</a></li>
                            <!--<li><a href="#">Help</a></li>-->
                            <li><a href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i></a></li>
                            <li>
                                {% if cart %}
                                    <a href="{% url 'cart:cart_detail' %}" class="nav-link">Giỏ hàng có {{cart|length}} sản phẩm , VNĐ :{{cart.get_total_price}}</a>
                                {% else %} 
                                    Giỏ hàng đang trống
                                {% endif %}
                            </li>
                                
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block content %}
    <!-- Anything outside will be inherited if you extend!-->
    {% endblock %}
    <section class="saction7">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1s"> <img src="{% static 'assets/images/plan.png' %}" alt="" /> </figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.3s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.5s"> <img src="{% static 'assets/images/mak.png' %}" alt="" /> </figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="1.8s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <figure class="service os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2s"> <img src="{% static 'assets/images/kljj.png' %}" alt="" /> </figure>
                    <div class="det os-animation" data-os-animation="fadeInDown" data-os-animation-delay="2.3s">
                        <h3>100% Service Guarantee </h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="saction8">
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="site">
                        <h3>Site Link</h3>
                    </div>
                    <div class="sitelink">
                        <ul>
                            <li> <span>&#10152;</span><a href="#">About Us</a></li>
                            <li><span>&#10152;</span><a href="#">Contact Us</a></li>
                            <li><span>&#10152;</span><a href="#">Privacy Policy</a></li>
                            <li><span>&#10152;</span><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="site">
                        <h3>Site Link</h3>
                    </div>
                    <div class="sitelink">
                        <ul>
                            <li> <span>&#10152;</span><a href="#">About Us</a></li>
                            <li><span>&#10152;</span><a href="#">Contact Us</a></li>
                            <li><span>&#10152;</span><a href="#">Privacy Policy</a></li>
                            <li><span>&#10152;</span><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="follow">
                        <h3>Follow Us On...</h3>
                    </div>
                    <div class="social">
                        <ul>
                            <li> <i class="fa fa-facebook-square"></i><a href="#">Facebook</a></li>
                            <li><i class="fa fa-twitter-square"></i><a href="#">Twitter</a></li>
                            <li><i class="fa fa-linkedin-square"></i><a href="#">Linkedin</a></li>
                            <li><i class="fa fa-google-plus-square"></i><a href="#">Google Plus</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="submit">
                        <h3>Subscribe Newsletter</h3>
                        <p>To get latest updates and food deals every week</p>
                    </div>
                    <div class="submitbox">
                        <input type="text" />
                        <div class="sub"> <a href="#">Submit</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="saction9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="email">&copy; All right reserved 2014 / FoodFinder </div>
                    <p class="freetemplates">Free Template by <a href="http://freetemplates.pro/">FreeTemplates.pro</a></p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/sidemenu.js' %}"></script>
</body>

</html>