<!DOCTYPE html>
{% extends "pages/base.html" %}
{% block content %}
	<div class="container">
		<h3>Thống kê giá món ăn</h3>
		<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto">
			<script>
			Highcharts.chart("container",{{chart|safe}})
			</script>
		</div>
	</div>
	<div class="container">
		<form method="post">
			{% csrf_token %}
			<div class="card-footer">
				<input type="submit" class="btn btn-primary" value="Xuất excel"></div>			
		</form>
		{% if result %}
		<h4 style="color: blue;">{{result}}</h4>
		{% endif %}
	</div>
{% endblock %}